<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxr.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- oppo的权限设置 -->
        <package android:name="com.autonavi.minimap" />
        <!-- vivo的权限设置 -->
        <package android:name="com.bairenkeji.icaller" />
        <!-- 酷派的权限设置 -->
        <package android:name="com.yulong.android.security" />
    </queries>

    <application>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
